.navbar.bg-base-100
  .navbar-start
    .dropdown
      label.btn.btn-ghost(tabindex="0" class="lg:hidden")
        svg.h-5.w-5(xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor")
          path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16")
    a.btn.btn-ghost.normal-case.text-xl(href="/") TruckersHub #{isDashboard ? " - Dashboard" : ""}
  .navbar-end
    if user
      a.btn(href="/dashboard/statistics") Dashboard
    else
      .btn-group
        a.btn(href="/auth/register") Register
        a.btn(href="/auth/login") Login
