*/build/
*/node_modules/
*/config.json
*/yarn.lock
*/yarn-error.log
client/
# server/static/*.exe
server/static/TruckersHub.exe
server/static/TruckersHub.zip
desktop/node_modules/
desktop/dist/
desktop/.github
desktop/TruckersHub*/
desktop/yarn-error.log
desktop/yarn.lock
desktop/config.json
nwdesktop/
*/node_modules/
*/build/
*/yarn.lock
frontend/constants.ts
rewrite/map
rewrite/overlay
rewrite/api_old/
dump.rdb
old/
config.json
*/.env
rewrite/
*/deno.lock
test/