extends ../../layouts/main

block body
    .grid.grid-cols-4.gap-4.p-4
      for event in user.events.filter(event => event.type === "refuel-paid")
        if event.data.game
          - let location = modules.closestCity(event.data.game.truck.position);
          .card.w-80.bg-base-100.shadow-xl.m-1.text-primary-content
              .card-body.card-event
                h2.card-title Refuel
                p Location: #{location.realName}
                p Amount #{Math.round(event.data.event.amount)}
                p Price $#{Math.round((modules.fuelPrice(location.country) * event.data.event.amount))}
                p Date: #{new Date(event.createdAt).toLocaleString()}