extends layouts/main

block body
    .flex.justify-center.mt-5
        div
            label.text-center.text-2xl TruckersHub is a free to use open source logging book for Euro Truck Simulator 2
            br
            br
            .btn-group.flex.justify-center
                a(class="btn", href="https://github.com/KaanDoesNothing/TruckersHub") Github
                a(class="btn", href="https://github.com/KaanDoesNothing") Developer