extends ../../layouts/main

block body
    div(class="overflow-x-auto flex justify-center p-5 bg-base-100")
        table(class="table w-full")
            thead
                tr
                    th
                    th Username
                    th Connected
                    th Action
            tbody()
                for user in users
                    - let socket = [...connected][0].filter(socket => socket.username === user.username)[0];
                    tr
                        th=users.indexOf(user)
                        th=user.username
                        th=socket ? "Yes" : "No"
                        th
                            a(href=`/dashboard/admin/users/${user.username}`) Manage