extends ../layouts/main

block body
  .flex.justify-center.mt-10
    .card.w-100.bg-base-100.shadow-xl.m-1.text-primary-content
      .card-body
        h2.card-title Settings
        a.btn(class=`${user.steam_id ? "btn-disabled" : ""}`, href="/auth/steam/link") Link your steam account
        a.btn(href="/static/TruckersHub.exe") Download Client
        a#download_config.btn Download Config File
        .card-actions.text-center
          p
            b Do not share your token with anyone!
            
  script.
    const configFile = JSON.stringify({
      api: window.location.origin + "/api",
      token: "#{user.token}",
      shifter: false
    });

    const downloadButton = document.querySelector("#download_config");
    downloadButton.setAttribute("href", `data:'text/json;charset=utf-8, ${encodeURIComponent(configFile)}`);
    downloadButton.setAttribute("download", "config.json");
