extends ../layouts/main

block body
    .flex.justify-center.mt-10
        .card.w-80.bg-base-100.shadow-xl.m-1.text-primary-content
            .card-body
                h2.card-title Statistics
                p Deliveries: #{user.events.length}
