extends ../../layouts/main

block body
    .flex.justify-center.mt-10
        .card.w-80.bg-base-100.shadow-xl.m-1.text-primary-content
            .card-body
                h2.card-title Create
                form.form-control(action="/dashboard/vtc/create" method="post")
                    label.label
                        span.label-text Name
                    input.input.input-bordered.w-full.max-w-xs(type="text" name="name")
                    .card-actions.text-center.mt-2
                        button.btn.btn-ghost.btn-block(type="Submit") Create