<!DOCTYPE html>
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TruckersHub

        link(href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css", rel="stylesheet", type="text/css")
        script(src="https://cdn.tailwindcss.com")

        //- if user
        //-     script.
        //-         window.userData = !{JSON.stringify(user)};
    body.overflow-hidden
        include ../partials/navbar
        
        if isDashboard
            include ../partials/sidebar

            script.
                const tab = location.pathname.split("/");
                document.querySelectorAll(".drawer-side li a").forEach(element => {
                    if(tab[tab.length - 1] === element.textContent.toLowerCase().trim()) element.classList.add("active");
                });
        else
            block body